:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
}

.diagramaDeEstados {
  display: flex;
  margin: 1em auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .botonesAcciones {
    display: flex;
    gap: .3em;

    button {
      padding: .5em 1em;
      min-width: max-content;
      width: 65px;
      height: 35px;

      &:not(:disabled) {
        cursor: pointer;
      }

      &.botonReiniciar {
        background: light-dark(whitesmoke, #1d1d1d);
        border: 2px solid #F77E00;
        margin-left: .5em;
        padding: .5em;
        width: 35px;
        border-radius: 50%;

        &:disabled {
          border: 1px solid gray;
          filter: saturate(0%);
        }
      }
    }

  }
}

